@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-fraunces);
  --font-body: var(--font-montserrat);
  --font-script: var(--font-la-belle-aurore);

  --text-primary: #3d2b1f;
  --text-secondary: #fdf5e6;

  --color-primary-text: var(--text-primary); /* #3d2b1f */
  --color-secondary-text: var(--text-secondary); /* #fdf5e6 */
  --color-latte: #d9c5b2;
  --color-sage: #8a9a5b;
  --color-glass: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a140f;
    --foreground: #fdf5e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
